body {
  font-family: sans-serif;
  text-align: center;
  background-color: paleturquoise;
}

#app {
  margin: 100px auto;
  display: inline-block;
  position: relative;
  border: 1px dashed #999;
  border-radius: 12px;
  padding: 20px;
  height: auto;
  width: 275px;
  max-width: 275px;
  background-color: white;
}

h1 {
  font-size: 32px;
  font-family: 'Fredoka One', cursive;
  margin-top: 0;
  color: #333;
}

a {
  display: inline-block;
  font-size: 13px;
  text-decoration: none;
  color: royalblue;
  padding-bottom: 3px;
  margin-bottom: 10px;
  border-bottom: 1px solid royalblue;
}

a:visited {
  color: mediumpurple;
  border-bottom: 1px solid mediumpurple;
}

a:hover {
  color: fuchsia;
  border-bottom: 1px solid fuchsia;
}

canvas, .jsgif, #gifBox, {
  display: inline-block;
}

#og, #preview  {
 display: inline-block;
 float: left;
 height: 15px;
 position: relative;
 height: 100px;
}

#og span, #preview span {
  display: inline-block;
  font-size: 12px;
}

.jsgif_toolbar  {
  display: none;
  min-width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

.jsgif {
  padding-bottom: -2px;
}

.jsgif, #frameCanvas {
  border: 1px solid lavender;
  margin-right: 5px;
  display: block;
}

#gifBox {
  padding: 10px;
  margin: 0;
  display: none;
  text-align: center;
}

form {
  display: block;
  position: relative;
}

fieldset {
  border: none;
  padding: 0 0 20px 0;
  margin: 0;
}

#deviceChoice {
  border-top: 1px solid lavender;
  padding-top: 10px;
  display: none;
}

#fileDropzone {
  color: #333;
  padding: 30px;
  margin-bottom: 20px;
  border: 2px dotted royalblue;
  border-radius: 5px;
  font-size: 20px;
  background-color: lavender;
  cursor: pointer;
}

#filename {
  font-size: 16px;
  text-align: center;
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-overflow: ellipsis; 
  padding: 0;
  margin: 0;
  width: 100%;
}

input[type='submit'] {
  background-color: #94e1ac;
  border: 1px solid #80c495;
  border-radius: 4px;
  padding: 4px 8px 4px 8px;
  margin-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
  display: none;
}

select {
  font-size: 16px;
  height: 30px;
}

label {
  display: block;
  margin: 0 0 8px 0;
}

#truncateWarning, #iothubWarning {
  font-size: 14px;
  display: none;
  margin: 8px 0 15px 0;
  padding: 7px;
  background-color: #FFCDC2;
  border: 1px solid salmon;
  border-radius: 8px;
}

#sendStatus {
 display: none;
}

